<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>

      <!-- AuthMode can have values of NT or SQL -->
      <add key="AuthMode" value="NT" />

      <!-- SQL -->
      <add key="dbConnectionString" value="Data Source=19158-S17809\MSSQLSERVER2014;Initial Catalog=EventCalendar" />

      <!-- NT -->
      <add key="dbNTConnectionString" value="Data Source=19158-S17809\MSSQLSERVER2014;Initial Catalog=EventCalendar;Integrated Security=True" />

      <!-- PATHs -->
      <add key="crystalReportPath" value="..\..\..\Reports\" />

      <!-- Here's the font setting. Best put in a valid font! "Arial", "Times New Roman" both work, I haven't tested others yet. -->
      <add key="GlobalFontFamily" value="Arial" />

    </appSettings>
</configuration>